/* build in firebug, don't judge me */
html,body{background:#999;color:#000;}
#doc{}
#hd{margin:1em 0;background:#fff;
	border:1em solid #fff;
border-width:.1em 1em;-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#bd{margin-bottom:1em;background:#fff;border:1em solid #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
p{margin:1em 0} 
form div{float:left;width:250px;padding-bottom:10px;}
form label{float:left;width:80px;font-weight:bold;}
form div#bar{clear:both;float:none;margin:1em 0;background:#69c;width:auto;padding:5px;text-align:right;}
table{width:100%;margin:1em 0;border:1px solid #000;border-collapse:collapse;}
th,td{border:1px solid #000;padding:5px;}
thead th{background:#369;font-weight:bold;color:#fff;}
#yql{padding:1em;background:#eee;border:1px solid #999;-moz-border-radius:5px;}
h1{font-size:140%;font-weight:bold;color:#036;margin:.5em 0;}
h2{font-size:130%;font-weight:bold;color:#000;margin:.5em 0;}
h3{font-size:120%;font-weight:bold;color:#369;margin:.5em 0;border-bottom:2px solid #999}
a{color:#333;}
#ft{font-size:80%;text-align:right;margin:2em 0;}
pre{border:1px solid #999;padding:.5em;margin:1em 0;border:1px solid #999;background:#eee;-moz-box-shadow:2px 2px 2px rgba(33,33,33,.3);-moz-border-radius:5px;}
#example{padding:.5em;margin:1em 0;border-top:2px solid #666;border-bottom:2px solid #666;}
#bd ul{margin-left:1em;}
#bd li{list-style:square;padding-bottom:.5em;}
#bd li code{font-weight:bold;color:#060;}
em{font-style:italic;color:#666}
#hd li{display:inline;list-style:none;padding-right:1em;}
#hd a{color:#fff;font-weight:bold;text-decoration:none;}
#hd ul{background:#369;padding:.5em;-moz-border-radius:5px;-moz-box-shadow:2px 2px 3px rgba(0,0,0,.3);}

form div{float:left;width:auto;padding:0;}
form label{float:left;width:140px;font-weight:bold;}
form{position:absolute;top:-100px;right:0;
background:#060;padding:10px;font-size:120%;color:#fff;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-moz-box-shadow:2px 2px 2px rgba(0,0,0,.7);
margin-bottom:2em;

}
h1,h2,h3{font-family:calibri,sans-serif;}
h1{color:#030;font-size:170%;}
h2{font-size:125%;font-weight:bold;color:#036;margin:.5em 0;border-bottom:2px solid #666}

#bd ul ul ul li {padding:0;}
#bd ul li {font-weight:bold;}
#bd ul ul li {font-weight:bold;list-style:none;}
#bd ul ul ul li {font-weight:normal}
#bd ul ul{margin:.5em 0;}
#bd ul.collapse ul{background:#ccc; width:80%;padding:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#bd ul ul ul {display:inline;padding:0;margin:0;} 
#bd ul.collapse li{list-style:none;}
#bd ul.collapse{margin-left:0;}
.toggle{padding:.5em;text-decoration:none;}
.js #bd ul.collapse ul{position:absolute;left:-9999px;}
#bd ul.collapse li.open ul{position:relative;left:1.5em;}
#bd{position:relative;}
img{display:block}
#bd ul#placeinfo{
min-height:200px;
_height:200px;
margin:0;
}
#map{
	width:100%;
	height:290px;
}
#placeinfo li{list-style:none;}

#logo{width:100px;display:inline;position:absolute;top:0;left:0;}
h1 span{left:-9999px;position:absolute;}
h1{line-height:80px;position:relative;padding-left:110px;font-size:180%;background:url(geoplanet.png) top left no-repeat #fff;}
li span{font-size:90%;}
li p{margin:0;padding:0;}
#info{font-size:130%;}

